extends layout

block content
  div.row
    div.col-xs-12.text-center.header
     h1 Играем в #{title}
     div.container
        div.row.text-center
          div.col-md-2
            p Зависимости
            table.table
             tr
              td X1
              td X2
             tr
              td X2
              td X3 
             tr
              td X3
              td X1
          div.col-md-2.col-md-offset-1.col-xs-4.square
              div.row.text-center
                div.col-md-4.col-xs-4.square-small
                 span.small.last.row11 X
                div.col-md-4.col-xs-4.square-small
                 span.small.old.row12 X
                div.col-md-4.col-xs-4.square-small
              div.row.text-center
                div.col-md-4.col-xs-4.square-small              
                div.col-md-4.col-xs-4.square-small              
                div.col-md-4.col-xs-4.square-small
              div.row.text-center
                div.col-md-4.col-xs-4.square-small              
                div.col-md-4.col-xs-4.square-small              
                div.col-md-4.col-xs-4.square-small
          div.col-md-2.col-xs-4.square
              div.row.text-center
                div.col-md-4.col-xs-4.square-small
                 span.small.old.row21 0
                div.col-md-4.col-xs-4.square-small              
                div.col-md-4.col-xs-4.square-small
              div.row.text-center
                div.col-md-4.col-xs-4.square-small.collision-old
                 span.small.old.row24 K
                div.col-md-4.col-xs-4.square-small              
                div.col-md-4.col-xs-4.square-small
              div.row.text-center
                div.col-md-4.col-xs-4.square-small              
                div.col-md-4.col-xs-4.square-small              
                div.col-md-4.col-xs-4.square-small
          div.col-md-2.col-xs-4.square
              div.row.text-center
                div.col-md-4.col-xs-4.square-small
                 span.small.old.row21 0
                div.col-md-4.col-xs-4.square-small              
                div.col-md-4.col-xs-4.square-small
              div.row.text-center
                div.col-md-4.col-xs-4.square-small.collision-old
                 span.small.old.row24 K
                div.col-md-4.col-xs-4.square-small              
                div.col-md-4.col-xs-4.square-small
              div.row.text-center
                div.col-md-4.col-xs-4.square-small              
                div.col-md-4.col-xs-4.square-small              
          div.col-md-2.col-xs-4.text-center
            p Активность
            table.table
             tr
              td X1
             tr
              td X2
             tr
              td X3
        div.row.text-center
          div.col-md-2.col-md-offset-3.col-xs-4.square
            span.big.old X
          div.col-md-2.col-xs-4.square
            span.big.last X
          div.col-md-2.col-xs-4.square
              span.big.old X
          div.col-md-2.col-xs-4.text-center
            table.table
             tr
              td 01
             tr
              td 02
             tr
              td 03
        div.row.text-center
          div.col-md-2.col-md-offset-3.col-xs-4.square
              div.row.text-center
                div.col-md-4.col-xs-4.square-small              
                div.col-md-4.col-xs-4.square-small              
                div.col-md-4.col-xs-4.square-small
              div.row.text-center
                div.col-md-4.col-xs-4.square-small              
                div.col-md-4.col-xs-4.square-small              
                div.col-md-4.col-xs-4.square-small
              div.row.text-center
                div.col-md-4.col-xs-4.square-small              
                div.col-md-4.col-xs-4.square-small              
                div.col-md-4.col-xs-4.square-small
          div.col-md-2.col-xs-4.collision
              div.row.text-center
                div.col-md-4.col-xs-4.square-small.collision
                  span.small.old.row12.collision X
                div.col-md-4.col-xs-4.square-small.collision             
                div.col-md-4.col-xs-4.square-small.collision
              div.row.text-center
                div.col-md-4.col-xs-4.square-small.collision              
                div.col-md-4.col-xs-4.square-small.collision
                  span.small.old.row12.collision X           
                div.col-md-4.col-xs-4.square-small.collision
              div.row.text-center
                div.col-md-4.col-xs-4.square-small.collision
                  span.small.old.row12.collision X
                div.col-md-4.col-xs-4.square-small.collision              
                div.col-md-4.col-xs-4.square-small.collision
          div.col-md-2.col-xs-4.square
              div.row.text-center
                div.col-md-4.col-xs-4.square-small              
                div.col-md-4.col-xs-4.square-small              
                div.col-md-4.col-xs-4.square-small
              div.row.text-center
                div.col-md-4.col-xs-4.square-small              
                div.col-md-4.col-xs-4.square-small              
                div.col-md-4.col-xs-4.square-small
              div.row.text-center
                div.col-md-4.col-xs-4.square-small              
                div.col-md-4.col-xs-4.square-small              
                div.col-md-4.col-xs-4.square-small
                 span.small.last.row39 0
