extends layout

block content
 ul
   each val, index in model
     li=index + ':' + val
 ul
   each val, index in model.big
     li=index + ':' + val
 ul
   each val, index in model.small
     li=index + ':' + val
   
  
  
