extends layout

block content
  div.row
    div.col-xs-12.text-center.header
     h1 Играем в #{title}
     div.container
        div.row.text-center
          div.col-md-2.col-md-offset-3.col-xs-4.square
              div.row.text-center
                div.col-md-4.col-xs-4.square-small
                 span.small.last.row11 X
                div.col-md-4.col-xs-4.square-small
                 span.small.old.row12 X
                div.col-md-4.col-xs-4.square-small
              div.row.text-center
                div.col-md-4.col-xs-4.square-small              
                div.col-md-4.col-xs-4.square-small              
                div.col-md-4.col-xs-4.square-small
              div.row.text-center
                div.col-md-4.col-xs-4.square-small              
                div.col-md-4.col-xs-4.square-small              
                div.col-md-4.col-xs-4.square-small
          div.col-md-2.col-xs-4.square
              div.row.text-center
                div.col-md-4.col-xs-4.square-small
                 span.small.old.row21 0
                div.col-md-4.col-xs-4.square-small              
                div.col-md-4.col-xs-4.square-small
              div.row.text-center
                div.col-md-4.col-xs-4.square-small
                 span.small.collision.row24 K
                div.col-md-4.col-xs-4.square-small              
                div.col-md-4.col-xs-4.square-small
              div.row.text-center
                div.col-md-4.col-xs-4.square-small              
                div.col-md-4.col-xs-4.square-small              
                div.col-md-4.col-xs-4.square-small
          div.col-md-2.col-xs-4.square
            span.big.last.collision K
        div.row.text-center
          div.col-md-2.col-md-offset-3.col-xs-4.square
            span.big.old X
          div.col-md-2.col-xs-4.square
            span.big.last X
          div.col-md-2.col-xs-4.square
              span.big.old X
        div.row.text-center
          div.col-md-2.col-md-offset-3.col-xs-4.square
              div.row.text-center
                div.col-md-4.col-xs-4.square-small              
                div.col-md-4.col-xs-4.square-small              
                div.col-md-4.col-xs-4.square-small
              div.row.text-center
                div.col-md-4.col-xs-4.square-small              
                div.col-md-4.col-xs-4.square-small              
                div.col-md-4.col-xs-4.square-small
              div.row.text-center
                div.col-md-4.col-xs-4.square-small              
                div.col-md-4.col-xs-4.square-small              
                div.col-md-4.col-xs-4.square-small
          div.col-md-2.col-xs-4.square
            span.big.old 0
          div.col-md-2.col-xs-4.square
              div.row.text-center
                div.col-md-4.col-xs-4.square-small              
                div.col-md-4.col-xs-4.square-small              
                div.col-md-4.col-xs-4.square-small
              div.row.text-center
                div.col-md-4.col-xs-4.square-small              
                div.col-md-4.col-xs-4.square-small              
                div.col-md-4.col-xs-4.square-small
              div.row.text-center
                div.col-md-4.col-xs-4.square-small              
                div.col-md-4.col-xs-4.square-small              
                div.col-md-4.col-xs-4.square-small
                 span.small.last.row39 0
